<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>User Info</title>
</head>
<body>
<script>
const currentUser = window.localStorage.getItem('currentUser')
document.write("<h3>안녕하세요! "+ currentUser+"님");
window.onload = function(){
    axios.post(`/userInfo`, {userid : currentUser})
    .then((res)=>{
    console.log(res.data)});
}

    function change() {
        var form = document.getElementById('change');
        axios.put(`/change`, {name : form.name.value})
        .then((res)=>{
        alert(res.data)
        location.href = "/userInfo";
        });
    }

    function ddelete() {
    axios.put(`/delete`, {})
    .then((res)=>{
    alert(res.data)
    location.href = "/crud";
    });
    }

</script>




<form id="change" >
    <h3>이름 수정하기</h3>
        이름 : <input type="text" name="name"><br>
        <button type="button" onclick="change();">수정</button>
</form>



<button type="button" onclick="ddelete();">탈퇴</button>
</body>
</html>