<html>
<head>
    <meta charset="utf-8">
    <title>위치 테스트</title>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=8d2772601590f0ed140826adec58e8a1&libraries=services"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body>
    <div id="map" style="width:80%;height:80%;"></div>
    <div id="result"></div>

    <button type="button" onclick="initMap()">초기화</button>

<script>

    function initMap(){
        lat; lon;
        var map = new kakao.maps.Map(document.getElementById('map'), {
            center: new kakao.maps.LatLng(lat, lon),
            level:6
        });
       
};

    // 현재 접속 위치에 맞는 지도를 그리기 

    var getPosition = function(options) {
        return new Promise(function (resolve, reject){
            navigator.geolocation.getCurrentPosition(resolve, reject, options);
        });
    }


    getPosition()
    .then((position)=>{
        var lat = position.coords.latitude;
        var lng = position.coords.longitude;
        var latlng = new kakao.maps.LatLng(lat, lng); // center로 설정하기 위한 좌표
        
        var map = new kakao.maps.Map(document.getElementById('map'), {
            center : latlng, level:6
        });

        var bounds = map.getBounds();
        var swLatLng = bounds.getSouthWest();
        var neLatLng = bounds.getNorthEast();
        let latlonData = {
            'swLat': swLatLng['Ma'],
            'swLon': swLatLng['La'],
            'neLat': neLatLng['Ma'],
            'neLon': neLatLng['La'],
        };

        kakao.maps.event.addListener(map, 'center_changed', function() {
            var latlng = map.getCenter(); 
            console.log("변경",latlng.getLat());
            console.log("변경",latlng.getLng());
});

        axios({
            method: "post", // db에서 제로웨이스트샵 정보 불러오기
            url: "marker",
            data: { latlonData } // 지도 크기 전달

        }).then(function(res){
          
            var position = res.data; // position 변수에 현재 지도 크기만큼에 해당하는 가게 배열 담기 

            for (i=0; i<position.length; i++){ 

            var markerPosition  = new kakao.maps.LatLng(position[i].lat, position[i].lon); 
            var marker = new kakao.maps.Marker({
                position: markerPosition
            });
            marker.setMap(map);
        };

    }).catch((err) => { console.error(err.message); });    
});





 
</script>
</body>
</html>