<html> 
    <head> 
        <title></title>
        <meta charset="UTF-8">
        <style>
            span {
                color: blue;
                font-weight: bold;
            }
        </style>
    </head>

    <body> 

        <h1>POST 요청 폼 결과 확인하기</h1>

        <div> 아이디는 <span> <%=data.id%> </span> 입니다. </div> <br>
        <div> 비밀번호는 <span> <%=data.pw%> </span> 입니다. </div> 
        <div> 생일 월은 <span> <%=data.birthMonth%> </span> 입니다. </div> 
        <div> 제출 내용은 <span> <%=data.content%> </span> 입니다. </div> 
        
    </body>
</html>