<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>Main</title>
</head>
<body>
<script>
    function contentWrite(){
    var form = document.getElementById('write')
    var data = {
        name: form.name.value,
        date: form.date.value,
        }
        console.log(data)
    axios.post(`/write`, data)
    .then((res)=> {
    console.log(res.data)

        alert('게시물을 등록했습니다.');
        document.location.href = "/";
        });
    }

    function editContent(obj) {

     axios.post(`/write`, obj.value)
    .then((res)=> {
        alert('게시물을 삭제했습니다.');
        document.location.href = "/";
        });
    }

     function deleteContent(obj) {

     axios.post(`/delete`, obj.value)
    .then((res)=> {
        alert('게시물을 삭제했습니다.');
        document.location.href = "/";
        });
    }
</script>

<h3>게시판</h3>
<form id ="write">
게시물 등록
제목 : <input type="text" name="name">
날짜 : <input type="date" name="date">
<button type="button" onclick="contentWrite()">작성</button>
</form>

<table>
    <tr>
        <th>No.</th>
        <th>제목</th>
        <th>날짜</th>
    </tr>
    <tr th:each="board:${list}">
        <td th:text="${board.getId()}">번호</td>
        <td th:text="${board.getName()}">제목</td>
        <td th:text="${board.getDate()}">날짜</td>
        <td><button type="button" th:value="${board.getId()}" onclick="editContent(this)">수정</button></td>
        <td><button type="button" th:value="${board.getId()}" onclick="deleteContent(this)">삭제</button></td>
    </tr>
</table>

</body>
</html>