<html>
    <head>
    </head>

    <body>
        <% for(let i=0; i<rows.length; i++) { %>
            <div>
                <span><%=rows[i].id%></span>
                <span><%=rows[i].name%></span>
                
            </div>
        <% } %>
    </body>
</html>