<html>
    <head>
        <title>환영합니다!</title>
       <meta charset="UTF-8">
       <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    </head>

    <body>
        <% if(!isLogin) { %>
            <a href="/login"> 로그인</a>
            <a href="/register"> 회원가입</a>
        <% } else { %>
           <div><%=id%>님 환영합니다.</div>
            <a href="/logout" onclick="logout()">로그아웃</a>
        <% } %>

        <script>
            function logout(){
                var form = document.getElementById("logout");
                axios({
                    method: 'delete',
                    url: "/logout",
                }).then(function(res){
                   alert(res.data);
                   window.location.href = '/';
                });
            }
        </script>
    </body>

</html>